.navbar {
    padding: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

.links {
    color: black;
    background-color: lightsteelblue;
    border-radius: 8px;
    margin: 30px 10px 20px 0;
}

.navbar .links {
    margin-left: auto;
    padding: 6px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: grey;
    transition: 0.3s;
}